packages/
DD.Services.Interfaces/obj/
DiabeticDiary.Web/obj/
DD.Repositories/obj/
DD.Repositories.Interfaces/obj/
DD.Data/obj/
DD.Common/obj/
DD.Dto.Business/obj/
DD.Dto.Repository/obj/
DD.Services/obj/
DD.Database/obj/
DD.Mappers/obj/
DD.Web.Ioc/bin/
DD.Web.Ioc/obj/
DiabeticDiary.Web/bin/Microsoft.Practices.ServiceLocation.xml
DiabeticDiary.Web/bin/
DD.Repositories/bin/
