<div class="panel panel-default">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Time</th>
                <th>Carbs</th>
                <th>BG (gluk)</th>
                <th>BG (CGM)</th>
                <th>Insulin</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="record in personRecords">
                <td>{{record.RecordTime}}</td>
                <td>{{record.Carbohydrates}}</td>
                <td>{{record.BloodGloucoseBgm}}</td>
                <td>{{record.BloodGloucoseCgmFull}}</td>
                <td>{{record.Insulin}}</td>
                <td>{{record.Note}}</td>
            </tr>
        </tbody>
    </table>
</div>