<div class="panel panel-default">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Time</th>
                <th>Carbs</th>
                <th>BG (gluk)</th>
                <th>BG (CGM)</th>
                <th>Insulin</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="record in personRecord.records">
                <td>08:00</td>
                <td></td>
                <td>5.6</td>
                <td>6.0 (6.2)</td>
                <td>3.0</td>
                <td>Raw data is 6.2</td>
            </tr>
        </tbody>
    </table>
</div>